scouter.agent.java/bin/*
scouter.client/bin/*
scouter.common/bin/*
scouter.server/bin/*
scouter.deploy/out
*/.cache
*/.svn
scouter.client/lib/scouter.common.jar
*.pyc
Thumbs.db
scouter.client/target/*
scouter.client.feature/target/*
scouter.client.product/target/*
workspace/*
scouter.agent.host/bin/*
scouter.agent.host.boot/bin/*
scouter.server.boot/bin/*
*.log
scouter.enduser.script/.project
.idea/*
scouter.agent.java/.settings/*
scouter.enduser.script/.idea/*
scouter.enduser.script/.settings/*
node_modules/ 
scouter.enduser.script/.externalToolBuilders/
scouter.server/*.scouter
scouter.server/conf/account.xml
scouter.server/conf/account_group.xml
scouter.server/database/
scouter.client.product/plugin_customization.ini
scouter.client/plugin_customization.ini
