scouter.agent/bin/*
scouter.client/bin/*
scouter.common/bin/*
scouter.server/bin/*
scouter.deploy/lib
scouter.deploy/out
scouter.deploy/*.xml
*/.cache
*/.svn
scouter.client/lib/scouter.common.jar
*.pyc
