scouter.agent.batch/bin/*
scouter.agent.java/bin/*
scouter.client/bin/*
scouter.common/bin/*
scouter.common/bin-test/*
scouter.server/bin/*
scouter.server/bin-test/*
scouter.deploy/out
scouter.server.boot/testlib
*/.cache
*/.svn
scouter.client/lib/scouter.common.jar
*.pyc
Thumbs.db
scouter.client/target/*
scouter.client.feature/target/*
scouter.client.product/target/*
workspace/*
scouter.agent.host/bin/*
scouter.agent.host.boot/bin/*
scouter.server.boot/bin/*
*.log
scouter.enduser.script/.project
scouter.agent.java/.settings/*
scouter.enduser.script/.idea/*
scouter.enduser.script/.settings/*
node_modules/ 
scouter.enduser.script/.externalToolBuilders/
scouter.server/*.scouter
scouter.server/conf/account.xml
scouter.server/conf/account_group.xml
scouter.server/database/
scouter.client.product/plugin_customization.ini
scouter.client/plugin_customization.ini
scouter.client/scouter.client.jar

*/*.scouter
scouter.server.boot/conf/*
scouter.server.boot/database/*

scouter.document/.project

### Vim template
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

scouter.client.build/.settings/org.eclipse.core.resources.prefs
scouter.common/.settings/org.eclipse.core.resources.prefs
scouter.agent.host/.settings/org.eclipse.core.resources.prefs
scouter.agent.batch/.settings/org.eclipse.core.resources.prefs
